*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
    color: rgb(56, 56, 56);
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
} 

p{
    font-size: 1rem;
}

h1{
    font-size: 3.5rem;
    font-style: italic;
    padding: 0.5rem;
}

h2{
   font-size: 3rem;
   padding: 0.5rem;
}

hr{
    color: #76767672;
}

a{
    font-size: 1rem;
    font-style: italic;
    color: rgb(70, 75, 225);
} 

.paginasNav{
    position: relative;
    top: 0.5rem;
    bottom: 0.5rem;
}

.logo{
    height: 5rem;
    transition: transform 0.5s;
}
.logo:hover{
    transform: scale(1.2,1.2) translate(1rem, 1rem);
    position: relative;

}
.links{
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 0.5rem; 
    background-image: linear-gradient(to left top, #a5d3a8, #95c197, #85af86, #759d76, #668c66);
    border: 0.2rem solid rgb(134, 166, 134);
    text-decoration: none;
    font-size: 1.5rem;
    transition: transform 0.5s;
    margin: 0.5rem;
    color: rgb(219, 231, 220);
}
.links:hover{
    transform: scale(1.2,1.2);
    position: relative;
    z-index: 100;
}

.bg-verdeGrad{
    background-image: linear-gradient(to top, #a5d3a8, #95c197, #85af86, #759d76, #668c66);
}

.contenidoPrincipal{
    background-image: linear-gradient(to bottom, #ffffff, #e0fbe1, #d2f7d3, #c4f2c4, #a4d9a4, #5b865b);
    display: flex;
    width: 100%;
    height: 100%;
}

.pieDePag{
    background-image: linear-gradient(to bottom,#a5d3a8, #95c197, #85af86, #6f9770, #5d815d);
    color:  rgb(65, 80, 65);
    text-align: center;
    border-top: 1px solid black;
    position: absolute;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.articulo{
    /*background-color: rgb(163, 203, 163);*/
    background-image: linear-gradient(to top, #b7e1b9, #aed8b0, #a5cea6, #9dc59d, #94bc94);
    display: flex;
    /*overflow: scroll;*/
    padding: 1rem;
    margin: 2rem;
    border: 0.2rem solid;
    border-image: linear-gradient(45deg, #212c22,  #577c5a, #afe2ae) 1;
}

.contacto{
    text-align: center;
    font-size: 1rem;
}

.pared{
    background-image: url(../assets/images/pared.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100vh;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    justify-content: center;
    border: 0.5rem solid;
    border-image: linear-gradient(to left, #bea687, #c29e73, #c59660, #c98d4e, #cd843b, #c17a30, #b66f25, #aa6519, #8d5815, #724b12, #593e10, #42300e) 1;
}

.centrado{
    text-align: center;
}

.pared__cuadro{
    margin: 5rem;
    block-size: 40vh;
    transition: transform 1s;
}

.pared__cuadro2{
    margin: 4rem;
    block-size: 25vh;
    transition: transform 1s;
}

.pared__cuadro:hover{
    transform: scale(2,2);
    position: absolute;
    z-index: 100;
    background-color: #0000001d;
}
.pared__cuadro2:hover{
    transform: scale(2,2);
    position: absolute;
    z-index: 100
}

.imgEventos{
    height: 400px;
    display: inline-block;
}
/*.box{
    background-color: blue;
    width: 400px;
    height: 400px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px solid blueviolet;

}
*/
.margenIzq{
    background-color: white;
    width: 15%;
    border-right: 1px solid black;
}

.margenDere{
    background-color: white;
    width: 15%;
    border-left: 1px solid black;
}

.seccionPrincipal{    
    width: 200vh;
    padding: 1rem;
}

.seccionArticulo{
    width: 50%;
}

.imagenArticulo{
    margin: 1rem;
    width: 95%;
}

.contenedorSP{
    margin: 2rem;
}

.descripcionPint{
    padding: 2rem;
    font-size: 1rem;
    font-weight: 600;
}

.chat{
    background-color: aqua;
    height: 5vh;
    width: 5vh;
    position: fixed;
    bottom: 1rem;
    right: 4rem;
    text-align: center;
    overflow: hidden;
}

.listaGal{
    font-style: italic;
}

