.pieDePag{
    background-image: map-get($mapaGr, gr-foot);
    color:  rgb(65, 80, 65);
    border-top: 1px solid rgb(109, 109, 109);
    .contenedorRedes{
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        .redes{
            width: $full/4;
            transition: transform 0.5s;
            &:hover{
                @include animacion(scale(1.5,1.5));
            }
        }
        
    }
    .direccion{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
       
    }
    
}
