
.contenidoPrincipal{
    background-image: $gradiente-main;
    display: flex;
    width: $full;
    height: $full;
    .margenColumna{
        background-image: url(../assets/images/planta.png);
        background-repeat: repeat;
        background-size: auto;
    }
}

