@mixin redondeado($rems, $colchon, $borde){
    border-radius: $rems;
    padding: $colchon;
    border: $borde;
}

@mixin animacion($escalado){
    transform: $escalado;
    position: relative;
    z-index: 100;
}