
.articulo{
    background-image: $gradiente-arti;
    display: flex;
    padding: 1rem;
    margin: 2rem;
    border: 0.2rem solid;
    border-image: linear-gradient(45deg, #212c22,  #577c5a, #afe2ae) 1;
    .seccionArticulo{
        width: $full/2;
    }
    
}

.habitacion{
    background-image: url(../assets/images/habitacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.listaGal{
    font-style: italic;
    color: black;
}

.imgDin{
    transition: transform 0.5s;
    &:hover{
        @include animacion($escalado);
    }
}

.fullSize{
    width: $full;
    height: $full;
}

.textoVideo{
    color: $blanquecino;
    text-align: center;
    position: absolute;
    bottom: $full/3;
    left: $full/3;
    right: $full/3;
    top: $full/3;
}

.bordeRedo1{
    @include redondeado(6rem, 1rem, solid #afe2ae);
}

.bordeRedo2{
    @include redondeado(5rem, 0, solid #afe2ae);
}

.enviar{
    color: $blanquecino;
    padding: 0.5rem; 
    background-image: $gradiente-nav;
    border: 0.2rem solid rgb(134, 166, 134);
    &:hover{
        color: rgb(80, 80, 80);
    }
}