$full: 100%;
$blanquecino: rgb(202, 213, 203);
$escalado: scale(1.2,1.2);

$mapaGr: (
    gr-nav: linear-gradient(to top, #a5d3a8, #95c197, #85af86, #759d76, #668c66),
    gr-main: linear-gradient(to bottom, #ffffff, #e0fbe1, #d2f7d3, #c4f2c4, #a4d9a4, #5b865b),
    gr-foot: linear-gradient(to bottom,#a5d3a8, #95c197, #85af86, #6f9770, #5d815d),
    gr-arti: linear-gradient(to top, #b7e1b9, #aed8b0, #a5cea6, #9dc59d, #94bc94),
    gr-arti2: linear-gradient(45deg, #212c22,  #577c5a, #afe2ae) 1,
)